.navBar {
    padding-top: 30px;
    margin-left: 15px;
    margin-right: 15px;
    background-color: transparent;
    border-radius: 80px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    z-index: 1000;
    position: relative;
    text-decoration: none;
}

.navBar table {
    margin-left: auto;
    margin-right: auto;
    /* color: #D89D5B; */
    color: #ffffff;
    font-family: 'SF FONT bold', Arial, sans-serif;
    font-size: 15pt;
    text-align: center;
    width: 100%;
    border-collapse: collapse;
    /* font-style: italic; */


}

.navBar td {
    /* border: solid #000 1px; */
    position: relative;
    width: 160px;

}

.navBar td:hover {
    color: #914cd2;
    transition: transform 1s, color 1s;
}

.navBar a {
    text-decoration: none;
    color: #ffffff;
}

.navBar a:hover {
    color: #914cd2;
    transition: transform 1s, color 1s;
}

.menu-toggle {
    display: none;
}


@media screen and (max-width: 1000px) {
    
    .navBar table {
        font-size: 10pt;
    }
    
}