/************ Custom Font ************/


/************ Default Css ************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 0px;
}

body {
  font-weight: 400;
  overflow-x: hidden;
  position: relative;
  background-color: #121212 !important;
  color: #fff !important;
  font-family: 'Centra', sans-serif !important;
}


p, a, li, button, ul {
  margin: 0;
  padding: 0;
  line-height: normal;
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
}

button {
  border: 0;
  background-color: transparent;
}

input:focus, textarea:focus, select:focus {
  outline: none;
}

@media (min-width:1700px) {
	main .container {
		max-width: 100%;
		padding: 0 150px;
	}
}

p.success {
	color: green;
}

p.danger {
	color: red;
}

/************ Home Page ************/
.introduction{
  text-align: left;
}

.logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.introduction > h1 {
  min-height: 100vh;
  display: flex;
  white-space: pre-wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-size: calc(30px + 2vmin);
  color: white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/************ About Me Css ************/
.about-section{
  min-height: 100vh;
}

.about-section > h2{
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about-container{
  
  margin: 200px auto;
  max-width: 1000px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border: transparent;
  border-radius: 20px;
}

.about-container-text{
  background: linear-gradient(180deg, #1a02a2, #541ba4);;
  font-size: 18px;
  padding: 70px;
  line-height: 35px;
  white-space: pre-wrap;
  align-items: left;
  text-align: left;
  max-width: 50%;
}

.about-container > img{
  background-color: gray;
  max-width: 50%;
  padding-right: 30px;
}


/************ Proficiency Css ************/

.profi-section{
  min-height: 100vh;
}

/************ Navbar Css ************/

/************ Footer Css ************/
.footer-section{
  min-height: 30vh;
}

